.form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    margin-right: auto;
    margin-left: auto;

    .flexColumn {
        position: relative;
        padding-top: 1rem;
        display: block;
        width: 100%;
        text-align: start;

        label {
            display: block;
        }

        option {
            color: black;
        }

        input,
        select {
            width: 100%;
            background-color: transparent;
            padding: 6px 0px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 18px;
            border-bottom: 1px solid #fff;
            transition: border-color 0.3s ease-in-out;

            &:focus-within {
                border-color: var(--star-color);
            }
        }

        textarea {
            width: 100%;
            resize: vertical;
            background-color: transparent;
            padding: 6px 0px;
            border: none;
            outline: none;
            color: #fff;
            font-size: 18px;
            border-bottom: 1px solid #fff;
            transition: border-color 0.3s ease-in-out;

            &:focus-within {
                border-color: var(--star-color);
            }
        }

        select {
            background-color: transparent;

            option {
                color: var(--xp-primary-color);
                background-color: #1f2937;
            }
        }

        input[type="color"] {
            height: 35px;
            width: 35px;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    }

    .flex {
        display: grid;
        grid-template-columns: 60px 1fr;
        align-items: stretch;
        gap: 2rem;
        width: 100%;
    }

    .fieldWithIcon {
        display: flex;
        margin-top: .75rem;

        input {
            width: 100%;
        }

        button {
            border: 1px solid red;
        }
    }

    .addOption {
        margin-top: 1rem;
        border: 1px solid var(--star-color);
        color: var(--star-color);

        i,
        span {
            color: var(--star-color);
        }
    }

    .radio-btn {
        display: flex;
        overflow-x: auto;
        max-width: 100%;
        gap: 1.35rem;
        justify-content: space-evenly;
        animation: scaleUp 1.5s forwards;
        // background-color: #fff;
        padding: 1rem 0;
        padding-bottom: 2rem;

        .box {
            flex-shrink: 0;
            transition: all 0.1s ease-in-out;
            border-radius: 50%;
            padding: 5px;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                filter: invert(1);
                padding: 5px;
                object-fit: contain;
            }

            i {
                position: absolute;
                top: 0px;
                right: 0px;
            }

            &::before {
                content: attr(data-tooltip);
                position: absolute;
                bottom: -20px;
                height: 20px;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                font-size: 0.8rem;
            }

            &:hover {
                background-color: var(--black-bg-hover);

                &::before {
                    color: var(--star-color);
                }
            }
        }
    }

    span {
        color: red;
        font-size: 12px;
    }

    .submit {
        padding: 8px 20px;
        font-weight: 600;
    }

}