.AdminDashboard {
    padding: 20px;

    h1 {
        margin-bottom: 20px;
        text-align: center;
        color: var(--star-color);
    }

    .hero-card-section {
        border-bottom: 3px solid rgb(208 208 208/1);
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .hero-card {
            flex-basis: calc(50% - 15px);
            flex-grow: 1;
            background-color: #9831a3;
            padding: 2rem;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 1.5rem;

            .text p {
                margin-top: 10px;
                color: #fdef73
            }
        }
    }

    .dash-wrap {
        display: grid;
        padding: 2rem 0;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

        .card {
            padding: 3rem 2rem;
            color: #fff;
            display: block;
            text-decoration: none;
            border-radius: .75rem;
            background: linear-gradient(140deg, #366494 4.12%, #58c181 127.99%);
            transition: box-shadow .2s ease-in-out;

            p {
                font-size: 1rem;
                font-family: monospace;
                margin-bottom: .75rem;
            }

            &:hover {
                box-shadow: 0px 0px 1px 3px #386994;
            }
        }
    }


    @media screen and (max-width: 968px) {
        .dash-wrap {
            grid-template-columns: 1fr 1fr;

            .card {
                flex-basis: 50%;
                flex-grow: 1;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .hero-card-section .hero-card {
            img {
                height: 120px;
            }
        }
    }

    @media screen and (max-width: 550px) {
        .hero-card-section .hero-card {
            flex-direction: column;

            img {
                height: 80px;
            }
        }

        .dash-wrap {
            grid-template-columns: 1fr;
        }
    }
}