    .main-content {
        overflow-x: hidden;
        flex-grow: 1;

        .LearnerHeader {
            padding: 0 2rem;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--header-h);
            border-bottom: 1px solid #babb;
            margin-bottom: 2rem;

            img {
                object-fit: contain;
            }
        }

        .content-body {
            padding: 0 2rem;

            .top-content {
                display: flex;
                gap: 30px;
                justify-content: space-between;

                .text-section {
                    flex-basis: 30%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: .5rem;

                    .text-20 {
                        font-size: 1.25rem;
                    }

                    .text-36 {
                        color: #366494;
                        font-size: 2rem;
                    }
                }

                .cards {
                    width: 100%;
                    display: grid;
                    gap: 30px;
                    grid-template-columns: repeat(3, 1fr);
                    justify-content: space-between;

                    .card {
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        background: linear-gradient(to bottom right, #366494, #58C181);
                        border-radius: 1.5rem;
                        padding: 1.25rem;
                        min-height: 13rem;
                        color: white;
                        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
                        background: linear-gradient(to bottom right, var(--tw-gradient-stops));

                        .top {
                            display: flex;
                            gap: .5rem;
                            align-items: center;
                        }

                        .bottom {
                            .text-base {
                                font-size: 1rem;
                            }

                            .text-xl {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 726px) {
        .main-content .content-body {
            .top-content {
                flex-wrap: wrap;

                .cards {
                    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                    .card {
                        min-height: 150px;
                        border-radius: 12px;

                        .top {
                            padding: unset;
                        }
                    }
                }
            }
        }
    }